:root {
  --purple: #c6b8fe;
  --primary-black: #1f201f;
  --light-black: #3d3d3d;
  --white: #fff;
  --grey: #f1f0f4;
  --grey-secondary: #828380;
  --grey-rating: #f6f6fe;
  --grey-thin-text: #626262;
  --light-beige: #ededcf;
  --light-green: #d3f26a;
  --white-secondary: #ebebeb;
}
